@if (song) {
  <div class="player-header">
    @if (thumbnailUrl) {
      <img [src]="thumbnailUrl" alt="Portada de {{song.title}}" class="song-thumbnail-large">
    } @else {
      <img src="assets/images/placeholder-thumbnail.png" alt="Sin portada" class="song-thumbnail-large">
    }
    <h3>{{ song.title }} - {{ song.user.username }}</h3>
  </div>
  <div>
    <audio [src]="audioUrl" controls autoplay>
      Tu navegador no soporta el elemento de audio.
    </audio>
  </div>
  @if (userId !== null) {
    <div>
      <button (click)="toggleLike()">
        @if (isLiked) {
          <span>💔 Quitar Like</span>
        } @else {
          <span>❤️ Dar Like</span>
        }
      </button>
    </div>
  } @else {
    <div>
      <p>Inicia sesión para dar 'Me gusta'.</p>
      <a routerLink="/login">Iniciar Sesión</a>
    </div>
  }

} @else {
  <p>Selecciona una canción para reproducir.</p>
}
