<div class="vaporwave-effect">
  <header>
    <h1><a routerLink="/" class="window">Echo 🎵</a></h1>
    
    <!-- Botón de hamburguesa para móvil -->
    <button class="hamburger-icon" (click)="toggleMenu()">
      &#9776;
    </button>

    <nav [class.open]="isMenuOpen">
      @if (isAdmin$ | async) {
        <a routerLink="/songs" routerLinkActive="active">🎵 Canciones</a>
        <a routerLink="/public-playlists" routerLinkActive="active">📋 Playlists</a>
        <a routerLink="/admin/users" routerLinkActive="active">👥 Usuarios</a>
      }
      
      @if (isLoggedIn$ | async; as loggedIn) {
        <a routerLink="/upload-song" routerLinkActive="active">⬆️ Subir Canción</a>
        <a routerLink="/playback-history" routerLinkActive="active">⏱️ Historial</a>
        <a routerLink="/profile" [queryParams]="{ view: 'playlists' }" routerLinkActive="active">📋 Mis Playlists</a>
        <a routerLink="/profile" [queryParams]="{ view: 'liked-songs' }" routerLinkActive="active">❤️ Mis Favoritas</a>
        <a routerLink="/profile" routerLinkActive="active">👤 Mi Perfil</a>
        <div>
          <span>👋 Hola, {{ username$ | async }}</span>
          <button (click)="logout()" class="logout-btn">🚪 Cerrar Sesión</button>
        </div>
      } @else {
        <div>
          <a routerLink="/login" routerLinkActive="active">🔑 Iniciar Sesión</a>
          <a routerLink="/register" routerLinkActive="active">📝 Registrarse</a>
        </div>
      }
    </nav>
  </header>

  <main class="window" style="margin: 20px auto;">
    <div class="window-content">
      <router-outlet></router-outlet>
    </div>
  </main>


  <!-- Reproductor de música flotante -->
  <div class="floating-player" *ngIf="isLoggedIn$ | async">
    @if (currentSongForPlayer$ | async; as currentSong) {
      <app-song-player [song]="currentSong"></app-song-player>
    } @else {
      <app-song-player></app-song-player>
    }
  </div>

  <footer>
    <div class="window" style="margin: 0; border-radius: 0;">
      <div class="window-content" style="text-align: center; padding: 8px;">
        <p style="margin: 0;">
          <span style="font-weight: bold;">Echo Player v1.0</span> | 
          &copy; {{ getYear() }} Echo App. 
          <span style="color: #ff00ff;">Windows 95 Vaporwave Edition</span>
        </p>
      </div>
    </div>
  </footer>
</div>
