<header>
  <h1><a routerLink="/">Echo 🎶</a></h1>

  <nav>
    <a routerLink="/songs">Canciones</a>
    <a routerLink="/public-playlists">Explorar playlists públicas</a>

    @if (isLoggedIn$ | async; as loggedIn) {
      <a routerLink="/upload-song">Subir Canción</a>
      <a routerLink="/playlists">Playlists</a>
      <div>
         <span>Hola, {{ username$ | async }}</span>
         <button (click)="logout()">Cerrar Sesión</button>
      </div>

    } @else {
       <div>
         <a routerLink="/login">Iniciar Sesión</a>
         <a routerLink="/register">Registrarse</a>
       </div>
    }
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<!-- Mini player flotante SIEMPRE visible -->
<div class="mini-player-float">
  <app-playback-queue></app-playback-queue>
  @if (currentSongForPlayer$ | async; as currentSong) {
    <app-song-player [song]="currentSong"></app-song-player>
  } @else {
    <app-song-player></app-song-player>
  }
</div>

<footer>
  <p>&copy; {{ getYear() }} Echo App. Todos los derechos reservados.</p>
</footer>
