@if (loading) {
    <div>Cargando canciones...</div>
  } @else {
    @if (error) {
      <div>{{ error }}</div>
    } @else {
      @if (songs.length > 0) {
        <h2>Lista de canciones</h2>
        <ul>
          @for (song of songs; track song.id) {
            <li>
              <strong>{{ song.title }}</strong> - {{ song.user.username }} ({{ song.genre.name }})
            </li>
          }
        </ul>
      } @else {
        <div>No hay canciones disponibles.</div>
      }
    }
  }
  
